
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style.css')}}">  
    
{% endblock %}

{% block body %}

<body onload="window.location.href = '#openModal';">


<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">Accéder au site</a>
        <h2>LE SITE BINOUZE LOVERS EST EXCLUSIVEMENT RÉSERVÉ AUX PERSONNES MAJEURES.</h2>
        <p>L’abus d’alcool est dangereux pour la santé, à consommer avec modération.<br> La consommation d’alcool est déconseillée aux femmes enceintes.<br> La vente d'alcool à des mineurs de moins de 18 ans est interdite.</p>
    </div>
</div>

<section class="margin jumbotron banner jumbotron-fluid text-center">
    <div class="capsule">
        
        <a href="{{ path('home') }}"><img src="{{asset('images/accueil.png')}}" class="img-fluid"></a>
        <a href="{{ path('beers_index') }}"><img src="{{asset('images/bieres.png')}}" class="img-fluid"></a>
        <a href="{{ path('recipes_index') }}"><img src="{{asset('images/recettes.png')}}" class="img-fluid"></a>
        <a href="{{ path('quizz') }}"><img src="{{asset('images/quiz.png')}}" class="img-fluid"></a>
        <a href="{{ path('infos') }}"><img src="{{asset('images/infos.png')}}" class="img-fluid"></a>
  
    </div>

    <div class="title">
        <h1>B<img class="bottle img-fluid" src="{{'images/bouteille2.png'}}">NOUZE LOVERS</h1>
    </div>

        <video id="video" autoplay="true" loop muted>
            <source src="{{asset('images/beer.mp4')}}"></source>  
        </video> 

        <audio autoplay="true">
            <source src="{{asset('images/1391.mp3')}}" type"audio/mpeg"></source>
        </audio>

</section>


{% endblock %}

{% block javascripts %}

{% endblock %}
