{# {%  extends 'base.html.twig' %} #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style.css')}}">  
    
{% endblock %}

{% block body %}

<section class="margin jumbotron banner jumbotron-fluid text-center">
    <div class="capsule">
        
        <a href="#" onclick="beep()"><img src="{{asset('images/accueil.png')}}" class="img-fluid"></a>
        <a href="{{ path('beers_index') }}" onclick="beep()"><img src="{{asset('images/bieres.png')}}" class="img-fluid"></a>
        <a href="{{ path('recipes_index') }}" onclick="beep()"><img src="{{asset('images/recettes.png')}}" class="img-fluid"></a>
        <a href="{{ path('quizz') }}" onclick="beep()"><img src="{{asset('images/quiz.png')}}" class="img-fluid"></a>
        <a href="{{ path('infos') }}" onclick="beep()"><img src="{{asset('images/infos.png')}}" class="img-fluid"></a>
  
    </div>

    <div class="title">
        <h1>B<img class="bottle img-fluid" src="{{'images/bouteille2.png'}}">NOUZE LOVERS</h1>
    </div>

        <video id="video" autoplay="true" loop muted>
            <source src="{{asset('images/beer.mp4')}}"></source>  
        </video> 

        <audio autoplay="true">
            <source src="{{asset('images/1391.mp3')}}" type"audio/mpeg"></source>
        </audio>

</section>


{% endblock %}

{% block javascripts %}

{% endblock %}
