{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <link rel="icon" href="{{asset('images/binouze.png')}}">
{% endblock %}

{% block body %}
<section class="margin jumbotron jumbotron-fluid text-center col-12 banner">
    <div class="container capsule">
        <a href="#"><img src="{{asset('images/nosBieres.png')}}"></a>
        <a href="#"><img src="{{asset('images/recettes.png')}}"></a>
        <a href="#"><img src="{{asset('images/quizz.png')}}"></a>
        <a href="#"><img src="{{asset('images/infos.png')}}"></a>       
    </div>

    <div class="title">
        <h1>B<img class="bottle" src="{{'images/bouteille2.png'}}"width="150px">NOUZE LOVERS</h1>
    </div>
    
    <video id="video" autoplay="true" loop muted width="100%"class="col-12">
        <source src="{{asset('images/beer.mp4')}}"></source>        
    </video>
    
    <audio autoplay="true">
       <source src="{{asset('images/1391.mp3')}}" type"audio/mpeg"></source>
       <source src="{{asset('images/1391.ogg')}}" type"audio/ogg"></source>
    </audio>

</section>


{% endblock %}

{% block javascripts %}
{% endblock %}
