{% extends 'base.html.twig' %}

{% block title %}Recipes index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/recipes.css') }}">
    <link rel="stylesheet" href="{{asset('css/style.css')}}">  
    {# <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">     #}
{% endblock %}

{% block body %}

 {% block javascripts %}
    <script src="{{ asset('js/recipes.js') }}"></script>
    {% endblock %}



    <div class="section1">
    <h1 class="text-center pageTitle">Nos recettes à base de bière</h1>
    <div class="capsule">
        
        <a href="{{ path('home') }}" ><img src="{{asset('images/accueil.png')}}" class="img-fluid"></a>
        <a href="{{ path('beers_index') }}" ><img src="{{asset('images/bieres.png')}}" class="img-fluid"></a>
        <a href="{{ path('recipes_index') }}" ><img src="{{asset('images/recettes.png')}}" class="img-fluid"></a>
        <a href="{{ path('quizz') }}" ><img src="{{asset('images/quiz.png')}}" class="img-fluid"></a>
        <a href="{{ path('infos') }}"><img src="{{asset('images/infos.png')}}" class="img-fluid"></a>
        
    </div>
   
        
    </div>
<center>
    <img src="{{ asset('images/beer-svgrepo-com.svg')}}" id="js-arrow" style="height:50vh">
    </center>
     <div class="row">
     
{% for recipe in recipes %}
  
        <div class="col-sm-3">
        <div class="mt-5">
        <div class="px-2">
            <div class="card" style="width: 18rem;height:450px;">
                <img src="{{recipe.photo}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name }}</h5>
                        <p class="card-text">{{ recipe.comments }}</p>
                        <center><a href="{{ path('recipes_show', {'id': recipe.id}) }}" class="btn btn-primary">voir recette</a></center>
                    </div>
            </div>
        </div>
        </div>
        </div>
            
            <!--    <td>
                    <a href="{{ path('recipes_show', {'id': recipe.id}) }}">show</a>
                    <a href="{{ path('recipes_edit', {'id': recipe.id}) }}">edit</a>
                </td>-->
     
        {% endfor %}
    </div>
<center>
    {# <a href="{{ path('recipes_new') }}">Create new</a> #}
</center>
   
{% endblock %}
